.about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__list {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @include tablets{
    align-items: start;
    }
    @include phones {
        flex-direction: column;
    }
}

.about__item {
    position: relative;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: rem(30px);
    text-align: center;

    &:after {
        position: absolute;
        right: rem(-15px);
        content: url('../images/decor/about-line.png');

        @include tablets {
            content: none;
        }
    }

    &:last-child {
        margin-right: 0;

        &::after {
            content: none;
        }
    }

    @include phones {
        width: 100%;
        flex-direction: row;
        margin-right: 0;
        text-align: start;
        margin-bottom: 30px;
        justify-content: start;
        align-items: start;
    }
}

.about__text {
    display: flex;
    flex-direction: column;

    
}

.about__name {
    color: $secondaryColor;
    font-size: rem(24px);
    margin-bottom: rem(25px);
    white-space: nowrap;
}

.about__image {
    width: 100px;
    margin-bottom: rem(30px);

    @include phones{
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.about__description {
    color: $lightColor;
    padding: 0 rem(10px);

    @include phones{
        padding: 0;
    }
}