.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: rem(46px);
    border-radius: 24px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid $darkColor;
    font-weight: 500;

  

    &__name {
        margin-right: 10%;
    }

    @include tablets {
        width: 213px;
    }

    @include phones {
        width: 100%;
    }
}

.button__image {
    background: url('../images/icons/button-arrow-dark.svg') center center no-repeat;
    width: 8px;
    height: 16px;
}

.btn-style--default {
    background-color: $secondaryColor;
    color: $firstColor;
    &:hover {
        background-color: $thirdColor;
        color: $firstColor;
    }
   
}

.btn-style--light {
    background-color: $lightColor;
    color: $darkColor;
    &:hover {
        background-color: $thirdColor;
        color: $firstColor;
    }
}

.btn-style--dark {
    background-color: $firstColor;
    color: $lightColor;
    &:hover {
        background-color: $thirdColor;
        color: $firstColor;
    }

    .button__image {
        background: url('../images/icons/button-arrow-light.svg') center center no-repeat;
    }
}