.footer {
    background: $firstColor;
    color: $lightColor;
    padding-bottom: 30px;
}

.footer__logo {
    background: $lightColor;
    border-radius: 100%;
    width: 100px;
    height: 100px;

    @include phones {
        max-width: 45px;
        max-height: 45px;
    }
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

// .footer__item {
//     margin-right: rem(40px);

//     &:last-child {
//         margin-right: 0;
//     }
// }

.footer__item-logo {
    @include phones {
        order: 1;
        width: 50%;
        padding: 0 20%;
    }

}

.footer__item-data {
    width: 150px;

    @include phones {
        width: 50%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.socials__image {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    @include phones {
        margin-bottom: 0;
    }
}


.footer__item-socials {
    @include phones {
        display: flex;
        width: 50%;
        order: 2;
        align-items: center;
        justify-content: center;
    }
}



.footer__decor {
    min-height: 300px;
    position: relative;
    background-color: $firstColor;
    overflow: hidden;

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 55%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: #FFF;
        animation-name: rotateFooter;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &:before {
        bottom: 10vh;
        border-radius: 48%;
        animation-duration: 10s;
    }

    &:after {
        bottom: 8vh;
        opacity: .5;
        border-radius: 60%;
        animation-duration: 10s;
    }
}

@keyframes rotateFooter {
    0% {
        transform: translate(-50%, -1%) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, 0%) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, -1%) rotateZ(360deg);
    }
}