.footer {
    background: $firstColor;
    color: $lightColor;
    padding-bottom: 30px;
}

.footer__logo {
    background: $lightColor;
    border-radius: 100%;
    padding: rem(20px);

    @include phones {
        max-width: 50px;
        max-height: 50px;
        padding: 8px;

    }
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}


.footer__item-logo {
    @include phones {
        order: 1;
        width: 50%;
        padding: 0 20%;
    }

}

.footer__item-data {
    width: 150px;

    @include phones {
        width: 50%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.socials__image {
    margin-bottom: 10px;


    &:last-child {
        margin-bottom: 0;
    }

    @include phones {
        margin-bottom: 0;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}


.footer__item-socials {
    @include phones {
        display: flex;
        width: 50%;
        order: 2;
        align-items: center;
        justify-content: center;

    }
}