.intro__content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $firstColor;

    @include phones {
        flex-direction: column-reverse;
    }
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: rem(30px);
    min-height: 100%;

    @include tablets {

        width: 50%;
    }

    @include phones {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-right: 0;
    }
}

.intro__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;

    @include tablets {
        flex-direction: column;
        align-items: space-between;

        .button {
            width: 100%;
        }

        .btn-style--default {
            margin-bottom: 20px;
        }
    }
}


.intro__header {
    font-family: $secondaryFontFamily;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;

    @include tablets {
        font-size: rem(60px);
    }
}

.intro__title {
    position: relative;
    font-family: $secondaryFontFamily;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: rem(100px);
    white-space: nowrap;

    &::after {
        content: '';
        background-image: url('../images/decor/intro-decor.png');
        width: 100%;
        min-height: rem(48px);
        height: auto;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: rem(-70px);

    }

    @include tablets {
        font-size: rem(32px);
    }


    @include phones {
        text-align: center;
    }
}

.intro__description {
    font-size: rem(28px);
    font-weight: 500;
    margin-bottom: rem(40px);
    width: 100%;

    @include tablets {
        font-size: 24px;
    }

}

.intro__image {
    width: 100%;
    // min-width: 45%;
    height: auto;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: url('../images/decor/main-decor.png') center center no-repeat;
        background-size: 105%;
        width: 105%;
        height: 105%;

        animation: 3s 1 animRotate;

    }

    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }



    @include phones {
        width: 355px;
        margin-bottom: 40px;
    }


}


@keyframes animRotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);

    }
}