.level__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 40px;
    min-height: 700px;

    &::after {
        position: absolute;
        content: '';
        width: 30%;
        height: 100%;
        background-image: url('../images/main/level-image.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 100% auto;
        top: rem(100px);
        right: 0;

        @include tablets {
            content: none;
        }
    }

    @include phones {
        text-align: center;
        align-items: center;

    }
}

.level__description {
    color: $lightColor;
    // display: flex;
    margin-bottom: rem(40px);
    line-height: 150%;
    letter-spacing: 1px;
    width: 70%;

    @include tablets {
        width: 100%;
    }

    @include phones {
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
}

// .level__description-text {
//     margin-right: rem(50px);
//     width: 50%;

//     @include phones {
//         margin-right: 0;
//         width: 90%;
//         margin-bottom: 20px;
//     }
// }

.level__buttons {
    display: flex;
    align-items: center;
    width: 70%;


    @include tablets {
        width: 100%;
        align-items: start;

    }

    @include phones {
        flex-direction: column;
        align-items: center;

    }

    .button {
        width: 50%;
        margin-right: rem(50px);

        @include phones {
            margin-right: 0;
            width: 90%;
            margin-bottom: 20px;
        }
    }

}