.questions__inner {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: rem(20px);
}

.question__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(30px) rem(40px);
    background: $firstColor;
    color: $lightColor;
    font-size: rem(24px);
    font-weight: 500;
    border-radius: 12px;
}

.question__title-text {
    margin-right: 20px;
}

.question__description {
    padding: rem(30px) rem(40px);
}

.question__text {
    margin-bottom: rem(40px);

    &:last-child{
        margin-bottom: 0;
    }
}

.question--active {
    .question__title {
        background: $secondaryColor;
        color: $darkColor;

    }
}