.questions__inner {
    display: flex;
    flex-direction: column;
}

.question__title {
    padding: rem(30px) rem(40px);
    background: $firstColor;
    color: $lightColor;
    font-size: rem(24px);
    border-radius: 12px;

    &:hover {
        cursor: pointer;
    }
}

.question__subtitle {
    font-size: rem(20px);
    margin-bottom: rem(30px);
    font-weight: 500;
}

.question__text {
    margin-bottom: rem(30px);
}