.section {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(90px);
    align-items: center;
    justify-content: center;
}

.intro {
    margin-top: 115px;
    position: relative;
    min-height: rem(650px);
    background-color: $firstColor;
    overflow: hidden;
    margin-bottom: 0;
    justify-content: start;

    @include phones {
        min-height: 100vh;
    }

}

.about {
    background: $firstColor;
    height: auto;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 200px;

    &:after {
        position: absolute;
        content: '';
        background: url('../images/background/about.png') bottom center no-repeat;
        background-size: 100% 100%;
        width: 110%;
        height: 100%;
        top: 50%;


        @include tablets {
            width: 120%;
            height: 90%;
        }
    }


}

.courses {
    background: url('../images/decor/courses-decor.svg') center center no-repeat;
    background-size: 100% 100%;
    height: auto;

}

.level {
    background: url('../images/background/level.png') bottom center no-repeat;
    background-size: 100% 90%;
    height: auto;
    position: relative;
}



.video {
    background: url('../images/decor/video-decor.svg') center top no-repeat;
    background-size: 100% 100%;
}

.webinar {
    background: url('../images/background/webinar.png') center center no-repeat;
    background-size: 100% 100%;
    height: auto;
    position: relative;
}

.teachers {
    background: url('../images/decor/teachers-decor.svg') center center no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.reviews {
    background: url('../images/background/reviews.png') center center no-repeat;
    background-size: 100% 100%;
    height: auto;
    position: relative;
}

.questions {
    margin-bottom: 0;
}

.contact{
    margin-top: 145px;
}
.prices{
    margin-top: 145px;
}
.course{
    margin-top: 145px;
}
