.section {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(70px);
}

.intro {
    position: relative;
    min-height: rem(700px);
    background-color: $firstColor;
    overflow: hidden;
    margin-bottom: 0;

    @include phones {
        min-height: 100vh;
    }

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: #FFF;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        bottom: 15vh;
        border-radius: 45%;
        animation-duration: 10s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}




.about {
    background: $firstColor;
    height: auto;
    position: relative;
    padding: 30px 0;
margin-bottom: 200px;

    &:after {
        position: absolute;
        content: '';
        background: url('../images/background/about.png') bottom center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        top: 50%;
    }


}

.courses {
    background: url('../images/decor/courses-decor.svg') center center no-repeat;
    background-size: 100% 100%;
}

.level {
    background: url('../images/background/level.png') center center no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.video {
    background: url('../images/decor/video-decor.svg') center top no-repeat;
    background-size: 100% 100%;
}

.webinar {
    background: url('../images/background/webinar.png') center center no-repeat;
    background-size: 100% 100%;
    height: auto;

}

.teachers {
    background: url('../images/decor/teachers-decor.svg') center center no-repeat;
    background-size: 100% 100%;
}

.reviews {
    background: url('../images/background/reviews.png') center center no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.questions {
    margin-bottom: 0;
}