.webinar__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    min-height: 600px;

    &::after {
        position: absolute;
        content: '';
        width: 35%;
        height: 100%;
        background-image: url('../images/main/webinar-image.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100% auto;
        top: rem(40px);
        left: 0;

        @include phones{
            content: none;
        }
    }

    @include phones{
        align-items: center;
    }

}

.webinar__description{
    width: 60%;
    margin-bottom: rem(40px);
    color: $lightColor;

    @include phones{
        width: 90%;
    }
}

.webinar__title{
    text-align: end;

    @include phones{
        text-align: center;
    }
}